@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("Open Sans-Regular"), url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v29-latin-regular.woff") format("woff"), url("../fonts/open-sans-v29-latin-regular.ttf") format("truetype");
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("Open Sans-SemiBold"), url("../fonts/open-sans-v29-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v29-latin-600.woff") format("woff"), url("../fonts/open-sans-v29-latin-600.ttf") format("truetype");
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("Open Sans-Bold"), url("../fonts/open-sans-v29-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v29-latin-700.woff") format("woff"), url("../fonts/open-sans-v29-latin-700.ttf") format("truetype");
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway Regular"), local("Raleway-Regular"), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff"), url("../fonts/raleway-v28-latin-regular.ttf") format("truetype");
}
/* raleway-500 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../fonts/raleway-v28-latin-500.woff2") format("woff2"), url("../fonts/raleway-v28-latin-500.woff") format("woff"), url("../fonts/raleway-v28-latin-500.ttf") format("truetype");
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype");
}
body {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 116.6666666667%;
  height: 100%;
}

@media (max-width: 873px) {
  body {
    font-size: 14px;
    line-height: 114.2857142857%;
  }
}
.wrapper {
  min-height: 100%; /* чтобы оболочка занимала всю ширину окна браузера */
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* Для футера */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* Для футера */
}

.container {
  max-width: 1173px;
  margin: 0 auto;
  padding: 0 15px; /* Что бы не прилипал сайт к границам */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  line-height: 116.6666666667%;
}

@media (max-width: 873px) {
  .title {
    font-size: 24px;
    line-height: 116.6666666667%;
  }
}
.headline {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  line-height: 137.5%;
}
@media (max-width: 990px) {
  .headline {
    font-size: 20px;
  }
}
@media (max-width: 873px) {
  .headline {
    font-size: 18px;
    line-height: 138.8888888889%;
  }
}

.button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 138.8888888889%;
  text-transform: capitalize;
  max-width: 270px;
  width: 100%;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #FFFFFF;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button:hover {
  color: #EC7979;
  border: 1px solid #EC7979;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button:active {
  color: #FFFFFF;
  background: #AB4949;
  border: 2px solid #AB4949;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button_bg {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 138.8888888889%;
  text-transform: capitalize;
  max-width: 270px;
  width: 100%;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EC7979;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button_bg:hover {
  color: #FFFFFF;
  background: #AB4949;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button_bg:active {
  color: #FFFFFF;
  background: #EC7979;
  -webkit-box-shadow: inset 0px 0px 10px rgb(171, 73, 73);
          box-shadow: inset 0px 0px 10px rgb(171, 73, 73);
}

.header {
  background-color: #000000;
}
.header__container {
  min-height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 183.1px;
  height: 74.85px;
}
@media (max-width: 790px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 183px;
            flex: 0 0 183px;
  }
}
@media (max-width: 680px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 183px;
            flex: 0 0 183px;
  }
}
.header__logo_link {
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.burger-menu {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 20px;
  z-index: 5;
  background-color: #000000;
  display: none;
}

@media (max-width: 320px) {
  .burger-menu {
    display: block;
  }
}
.burger__logo {
  position: fixed;
  top: 25px;
  left: 20px;
  z-index: 6;
  width: 130px;
  height: 65px;
}
.burger__toggle-button {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 20px;
  z-index: 5;
}
.burger__lines {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background-color: rgb(244, 238, 238);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.burger__lines:first-child {
  top: 3px;
}
.burger__lines:last-child {
  top: 17px;
}
.burger__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burger__item {
  width: 113.8px;
  text-align: center;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.burger__item::after {
  content: "";
  position: absolute;
  height: 2px;
  background: #EC7979;
  width: 0;
  left: 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.burger__item:hover::after {
  width: 100%;
}
.burger__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 135.7142857143%;
  text-align: center;
  text-transform: capitalize;
}

input ~ nav {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
  overflow: hidden;
}
input ~ nav ul {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
}
input ~ nav ul li {
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

input:checked ~ label span {
  opacity: 0;
  top: 50%;
}
input:checked ~ label span:first-child {
  opacity: 1;
  top: 50%;
  -webkit-transform: rotate(-405deg);
      -ms-transform: rotate(-405deg);
          transform: rotate(-405deg);
}
input:checked ~ label span:last-child {
  opacity: 1;
  top: 50%;
  -webkit-transform: rotate(405deg);
      -ms-transform: rotate(405deg);
          transform: rotate(405deg);
}

input:checked ~ nav {
  height: 50%;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
input:checked ~ nav ul li {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  width: 113.8px;
  text-align: center;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .menu__item {
    width: 100px;
  }
}
@media (max-width: 680px) {
  .menu__item {
    width: 95px;
  }
}
.menu__item:hover:nth-child(1) {
  background: #EC7979;
  width: 113.8px;
  height: 75px;
}
@media (max-width: 680px) {
  .menu__item:hover:nth-child(1) {
    width: 95px;
  }
}
.menu__item:active:nth-child(1) {
  background: #AB4949;
  width: 113.8px;
  height: 75px;
}
@media (max-width: 680px) {
  .menu__item:active:nth-child(1) {
    width: 95px;
  }
}
.menu__item:not(:nth-child(1)) {
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu__item:not(:nth-child(1))::after {
  content: "";
  position: absolute;
  height: 2px;
  background: #EC7979;
  width: 0;
  left: 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.menu__item:not(:nth-child(1)):hover::after {
  width: 100%;
}
.menu__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 135.7142857143%;
  text-align: center;
  text-transform: capitalize;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; /* что бы увеличивался расширялся и прижал футер к низу */
}
.page__intro {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/axit.jpg) center no-repeat;
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/axit.jpg) center no-repeat;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/axit.jpg) center no-repeat;
  background-size: cover;
  padding-top: 208px;
}
@media (max-width: 990px) {
  .page__intro {
    padding-top: 190px;
  }
}
@media (max-width: 873px) {
  .page__intro {
    padding-top: 137px;
  }
}
@media (max-width: 767px) {
  .page__intro {
    padding-top: 130px;
  }
}
@media (max-width: 680px) {
  .page__intro {
    padding-top: 120px;
  }
}
@media (max-width: 680px) {
  .page__intro {
    padding-top: 100px;
  }
}
.page__social {
  background: #F8EFEF;
}
.page__options {
  background: #F5F5F5;
}
.page__axure-design {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/axure/AXURE.jpg) center no-repeat;
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/axure/AXURE.jpg) center no-repeat;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/axure/AXURE.jpg) center no-repeat;
  background-size: cover;
}
.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro__logo {
  width: 270px;
  height: 100px;
  margin-bottom: 51.88px;
}
@media (max-width: 873px) {
  .intro__logo {
    width: 183px;
    height: 75px;
    margin-bottom: 38px;
  }
}
@media (max-width: 680px) {
  .intro__logo {
    margin-bottom: 45px;
  }
}
.intro__logo img {
  width: 100%;
  height: auto;
}
.intro__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #FFFFFF;
  line-height: 116.6666666667%;
  text-transform: uppercase;
  margin-bottom: 55.12px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  max-width: 670px;
  width: 100%;
}
@media (max-width: 990px) {
  .intro__title {
    font-size: 40px;
    padding-right: 10px;
    margin-left: -10px;
  }
}
@media (max-width: 873px) {
  .intro__title {
    font-size: 36px;
    line-height: 116.6666666667%;
  }
}
.intro__line {
  width: 170px;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 42px;
}
@media (max-width: 873px) {
  .intro__line {
    margin-bottom: 31px;
  }
}
@media (max-width: 680px) {
  .intro__line {
    margin-bottom: 45px;
  }
}
.intro__text {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
  max-width: 270px;
  width: 100%;
}
@media (max-width: 873px) {
  .intro__text {
    margin-bottom: 31px;
  }
}
@media (max-width: 680px) {
  .intro__text {
    margin-bottom: 40px;
  }
}
.intro__button {
  margin-bottom: 185px;
}
.intro__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 990px) {
  .intro__form {
    margin-right: -10px;
  }
}

.serach-form__form {
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  max-width: 470px;
  width: 100%;
  height: 450px;
}
@media (max-width: 990px) {
  .serach-form__form {
    width: 400px;
  }
}
@media (max-width: 873px) {
  .serach-form__form {
    width: 398px;
  }
}
@media (max-width: 767px) {
  .serach-form__form {
    width: 355px;
  }
}
@media (max-width: 680px) {
  .serach-form__form {
    height: 415px;
  }
}
.serach-form__field {
  padding: 0 50px;
}
.serach-form__field_btn {
  background: #EC7979;
}
.serach-form__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  margin-bottom: 45px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .serach-form__headline {
    font-size: 17px;
  }
}
@media (max-width: 680px) {
  .serach-form__headline {
    height: 75px;
  }
}
.serach-form__headline_bg {
  color: #EC7979;
}
.serach-form__content_name {
  position: relative;
  line-height: 14px;
  display: inline-block;
  max-width: 370px;
  width: 100%;
  margin-bottom: 33px;
}
.serach-form__content_email {
  position: relative;
  line-height: 14px;
  display: inline-block;
  max-width: 370px;
  width: 100%;
  margin-bottom: 33px;
}
.serach-form__content_password {
  position: relative;
  line-height: 14px;
  display: inline-block;
  max-width: 370px;
  width: 100%;
  margin-bottom: 75px;
}
@media (max-width: 680px) {
  .serach-form__content_password {
    margin-bottom: 55px;
  }
}
.serach-form__inp {
  padding: 10px 20px;
  border-bottom: 1px solid #BDBDBD;
  width: 100%;
  outline: none;
  position: relative;
}
.serach-form__inp:invalid + label {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}
.serach-form__inp:focus {
  border-bottom: 2px solid #EC7979;
}
.serach-form__inp:focus + label {
  font-weight: 600;
  font-size: 0.8rem;
  color: #EC7979;
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
}
.serach-form__label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  line-height: 135.7142857143%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 10px;
  padding: 0 2px;
  pointer-events: none;
  background: #fff;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}
.serach-form__button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 133.3333333333%;
  max-width: 470px;
  width: 100%;
  height: 60px;
  background: #EC7979;
}
.serach-form__button:hover {
  cursor: pointer;
  color: #FFFFFF;
  border: 1px solid rgb(171, 73, 73);
  background: rgb(171, 73, 73);
}
.serach-form__button:active {
  cursor: pointer;
  color: #FFFFFF;
  background: #EC7979;
  -webkit-box-shadow: inset 0px 0px 10px #AB4949;
          box-shadow: inset 0px 0px 10px #AB4949;
}

.social-media__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-media__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  max-width: 470px;
  width: 100%;
  padding-bottom: 18px;
}
@media (max-width: 992px) {
  .social-media__body {
    margin-right: 20px;
  }
}
.social-media__headline {
  padding: 15px 0;
  margin-bottom: 18px;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .social-media__headline {
    margin-bottom: 13px;
  }
}
@media (max-width: 768px) {
  .social-media__headline {
    padding: 10px 0;
  }
}
.social-media__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #86878B;
  max-width: 470px;
  width: 100%;
}
.social-media__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.icons__icon {
  max-width: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.icons__icon img {
  width: 100%;
}
.icons__icon:not(:last-child) {
  margin-right: 4%;
}
@media (max-width: 992px) {
  .icons__icon:not(:last-child) {
    margin-right: 3%;
  }
}
.block__tabs {
  margin-top: 99px;
}
@media (min-width: 320px) and (max-width: 479px) {
  .block__tabs {
    margin-top: calc((100vw - 320px) / 853 * 95 + 41px);
  }
}

.content__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 480px) and (max-width: 660px) {
  .content__tab {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .content__tab {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.tab__input {
  display: none;
}
.tab__label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  line-height: 135.7142857143%;
  display: block;
  cursor: pointer;
  max-width: 172px;
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
}
@media (max-width: 660px) {
  .tab__label {
    max-width: 33.3%;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 546px) {
  .tab__label {
    max-width: 33.3333%;
    width: 100%;
  }
}
.tab__label:hover {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #C6CBCD;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}
.tab__input:checked + .tab__label {
  background: #EC7979;
  color: white;
  font-weight: 600;
  border: 1px solid #EC7979;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}
.tab__input:checked + .tab__label + .tab__section {
  display: block;
}
.tab__section {
  display: none;
  -webkit-box-ordinal-group: 100;
      -ms-flex-order: 99;
          order: 99;
}
.tab__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #C6CBCD;
}
.tab__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 2.557544757%;
  margin-left: 8.5251491901%;
}
@media (min-width: 660px) and (max-width: 769px) {
  .tab__column {
    margin-right: 4.2625745951%;
    margin-left: 4.2625745951%;
  }
}
@media (min-width: 480px) and (max-width: 660px) {
  .tab__column {
    margin-right: calc((100vw - 480px) / 180 * 25 + 25px);
    margin-left: calc((100vw - 480px) / 180 * 25 + 25px);
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .tab__column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 25px;
  }
}
.tab__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  font-size: calc((100vw - 320px) / 853 * 12 + 18px);
  line-height: 136.6666666667%;
  margin-bottom: 27px;
  margin-bottom: 2.3017902813vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10.5711849957vw;
}
@media (min-width: 320px) and (max-width: 992px) {
  .tab__title {
    height: calc((100vw - 320px) / 672 * -23 + 112px);
  }
}
@media (min-width: 660px) and (max-width: 769px) {
  .tab__title {
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 659px) {
  .tab__title {
    width: 100%;
    margin-bottom: 5.7575757576vw;
    border-bottom: 2px solid #EC7979;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .tab__title {
    text-align: center;
    margin-bottom: 9.375vw;
    border-bottom: 2px solid #EC7979;
  }
}
.tab__text {
  overflow: scroll;
  font-size: calc((100vw - 320px) / 853 * 5 + 13px);
  height: calc((100vw - 768px) / 405 * 30 + 180px);
  text-align: justify;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
@media (min-width: 480px) and (max-width: 660px) {
  .tab__text {
    height: calc((100vw - 480px) / 180 * 26 + 132px);
  }
}
.tab__text p:not(:last-child) {
  margin-bottom: 5px;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab__button {
  width: 100%;
  margin: 27px 0 54px 0;
  margin-bottom: calc((100vw - 768px) / 405 * 4 + 50px);
  margin-top: 2.3017902813vw;
}
@media (min-width: 480px) and (max-width: 660px) {
  .tab__button {
    margin-top: 6.25vw;
    margin-bottom: 6.25vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .tab__button {
    margin-top: 9.375vw;
    margin-bottom: 9.375vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.tab__pic_tab1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41%;
          flex: 0 0 41%;
  background: url(../img/tabs/tab1.jpg) center no-repeat;
  background-size: cover;
}
@media (min-width: 480px) and (max-width: 660px) {
  .tab__pic_tab1 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .tab__pic_tab1 {
    display: none;
  }
}
.tab__pic_tab2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41%;
          flex: 0 0 41%;
  background: url(../img/tabs/tab2.jpg) center no-repeat;
  background-size: cover;
}
@media (min-width: 480px) and (max-width: 660px) {
  .tab__pic_tab2 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .tab__pic_tab2 {
    display: none;
  }
}
.tab__pic_tab3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41%;
          flex: 0 0 41%;
  background: url(../img/tabs/tab3.jpg) center no-repeat;
  background-size: cover;
}
@media (min-width: 480px) and (max-width: 660px) {
  .tab__pic_tab3 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .tab__pic_tab3 {
    display: none;
  }
}

.button_bg {
  max-width: calc((100vw - 768px) / 405 * 38 + 232px);
  width: 100%;
  height: 58px;
}
@media (min-width: 320px) and (max-width: 479px) {
  .button_bg {
    max-width: 75.9375vw;
  }
}

.cards__body {
  padding: 50px 0 58px 0;
}
.cards__title {
  height: 150px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cards__line {
  width: 170px;
  border: 1px solid #EC7979;
  margin: 0 auto;
}
.cards__subtitle {
  text-align: center;
  color: #86878B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 70px;
}
.cards__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
  width: 100%;
}
.columns__column:not(:last-child) {
  margin-right: 30px;
}

.column__headline {
  text-align: center;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100px;
}
.column__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 105px;
}

.options__body {
  padding: 50px 0 50px 0;
}
.options__title {
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
}
.options__line {
  width: 170px;
  border: 1px solid #EC7979;
  margin: 0 auto;
}
.options__subtitle {
  text-align: center;
  color: #86878B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 79px;
  margin-top: 40px;
}
.options__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.options-columns__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
  width: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.options-columns__column:not(:last-child) {
  margin-right: 30px;
}
.options-columns__column:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  margin-top: -20px;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
          filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.options-columns__headline {
  color: #FFFFFF;
  text-align: center;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
}
.options-columns__price {
  font-weight: 700;
  color: #FFFFFF;
  background: #333333;
  border-top: 2px solid #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100px;
}
.options-columns__text {
  background: #333333;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
}
.options-columns__specific {
  background: #FFFFFF;
  border: 2px solid #F5F5F5;
  text-align: center;
  text-transform: capitalize;
  color: #86878B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
}

.customers__body {
  padding: 50px 0 57px 0;
}
.customers__title {
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
}
.customers__line {
  width: 170px;
  border: 1px solid #EC7979;
  margin: 0 auto;
}
.customers__subtitle {
  text-align: center;
  color: #86878B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 83px 0;
}
.customers__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.customers__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
  width: 100%;
}
.customers__column:not(:last-child) {
  margin-right: 30px;
}

.customers-column__text {
  background: #E2E2E2;
  border-radius: 10px;
  text-indent: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #86878B;
  min-height: 180px;
  margin-bottom: 66px;
  padding: 20px;
  position: relative;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
}
.customers-column__text::after {
  content: "";
  position: absolute;
  top: 180px;
  left: 80px;
  border: 15px solid transparent;
  border-top: 20px solid #E2E2E2;
}
.customers-column__text:hover {
  -webkit-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}
.customers-column__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.customers-column__foto {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
}
.customers-column__foto img {
  width: 100%;
}
.customers-column__initials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.customers-column__name {
  margin-bottom: 15px;
  height: 54px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 269px;
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.customers-column__name:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.axure-design__container {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.axure-design__title {
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
}
.axure-design__line {
  width: 170px;
  border: 1px solid #FFFFFF;
  margin: 0 auto;
  margin-bottom: 40px;
}
.axure-design__subtitle {
  text-align: center;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 73px;
}
.axure-design__button {
  max-width: 370px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #FFFFFF;
}

.contact__container {
  padding: 57px 0 50px 0;
}
.contact__title {
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
}
.contact__line {
  width: 170px;
  border: 1px solid #EC7979;
  margin: 0 auto;
}
.contact__subtitle {
  text-align: center;
  color: #86878B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 89px 0;
}
.contact__serach-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.contact__button {
  max-width: 370px;
  margin: 0 auto;
}
.serach-form__content_name {
  max-width: 571px;
  width: 100%;
  height: 38px;
}
.serach-form__content_email {
  max-width: 571px;
  width: 100%;
  height: 38px;
}
.serach-form__content_password {
  max-width: 571px;
  width: 100%;
  height: 38px;
}
.serach-form__inp:not(:last-child) {
  margin-bottom: 50px;
}
.serach-form__label {
  top: 15px;
}
.serach-form__message {
  border-bottom: 1px solid #BDBDBD;
  width: 569px;
  height: 184px;
  padding: 10px;
}
.serach-form textarea::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  line-height: 135.7142857143%;
}
.serach-form textarea::-moz-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  line-height: 135.7142857143%;
}
.serach-form textarea:-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  line-height: 135.7142857143%;
}
.serach-form textarea::-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  line-height: 135.7142857143%;
}
.serach-form textarea::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  line-height: 135.7142857143%;
}
.serach-form textarea:focus {
  outline-color: #EC7979;
}
.serach-form textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.serach-form textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.serach-form textarea:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.serach-form textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.serach-form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.serach-form textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.serach-form textarea:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.serach-form textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.footer {
  background: #000;
}
.footer__social {
  padding: 35px 0 27px 0;
}

.social-license__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-license__icon {
  max-width: 53.2px;
  width: 100%;
  margin-bottom: 28px;
}
.social-license__icon:not(:last-child) {
  margin-right: 32.8px;
}
.social-license__license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}